[submodule "gb-api-mart"]
	path = gb-api-mart
	url = git@github.com:VitalyKri/gb-api-mart.git
[submodule "thymeleaf-shop"]
	path = thymeleaf-shop
	url = git@github.com:VitalyKri/thymeleaf-shop.git
[submodule "gb-jms-mart"]
   	path = gb-jms-mart
   	url = git@github.com:VitalyKri/thymeleaf-shop.git
